<div class="container" style="text-align: left;"> 
    <h3>Login</h3>
    <!--<form [formGroup]="miform" (ngSubmit)="onSubmit()">-->
    <form [formGroup]="LoginForm">

        <!-- Nombre -->
        <p> Nombre de usuario: <br>
            <input type="text" formControlName="name">

            <span  *ngIf="this.LoginForm.get('name')?.errors?.['required'] && 
                    this.LoginForm.get('name')?.touched">
                El nombre no puede estar vacío
            </span>
            <span   *ngIf="this.LoginForm.get('name')?.errors?.['minlength']&& 
                    this.LoginForm.get('name')?.touched">
                El nombre no puede tener menos de 2 letras
            </span>

            <span   *ngIf="this.LoginForm.get('name')?.errors?.['pattern'] && 
                    this.LoginForm.get('name')?.touched">
                Solo puede contener letras, minimo 6
            </span>
        
        </p>

        <p> Contrasenya: <br>
            <input type="password" formControlName="password">

            <span  *ngIf="this.LoginForm.get('password')?.errors?.['required'] && 
                    this.LoginForm.get('password')?.touched">
                La contrasenya no puede estar vacía
            </span>

            <span   *ngIf="this.LoginForm.get('password')?.errors?.['pattern'] && 
                    this.LoginForm.get('password')?.touched">
                La contrasenya no tiene el formato correcto
            </span>
        </p>


        <button type="submit" [disabled]="LoginForm.invalid">Login</button>
    </form>
</div>
<div>   
